header {
    text-align: center;
    background-color: darkgrey;
}

.flex-row {
    display: flex;
    justify-content: center;
}

.flex-item {
    background-color: lightgrey;
    height: 25vh;
    width: 25vh;
    margin: -1px;
    border: 2px solid black;
    text-align: center;
    font-size: 22vh;
}