body {
    margin: 3em;
}

.header-container {
    display: flex;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

.header-container a {
    text-decoration: none;
}

.header-container .header-item {
    background-color: darkgrey;
    flex: 1;
    margin: 1px;
}

.flex-row {
    display: flex;
    justify-content: center;
}

.flex-row .flex-item {
    background-color: lightgrey;
    margin: -1px;
    border: 2px solid black;
    text-align: center;
    min-width: 20vh;
    min-height: 20vh;
    font-size: 20vh;
}