    .flex-box {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    .flex-left {
        justify-content: flex-start;
    }
    
    .flex-1 {
        flex: 1;
        min-width: 65vh;
    }
    
    header,
    article {
        margin: 30px;
    }
    
    header a {
        margin: 1px;
        background-color: darkgrey;
        font-size: 3em;
        text-align: center;
        text-decoration: none;
    }
    
    table {
        table-layout: fixed;
        border-collapse: collapse;
    }
    
    td {
        border: 3px solid black;
        min-height: 20vh;
        min-width: 20vh;
        font-size: 20vh;
        text-align: center;
        background-color: lightgrey;
    }

    .em3{
        font-size: 3em;
    }
    
    .poengmerkelapp {   
        min-width: 80px;
        float: left;
    }

    button {
        width: 180px;
        height: 80px;
        margin-top: 10px;
        font-size: 0.8em;
    }